* {
	padding: 0;
	margin: 0;
	
	text-align: center;
}

.tituloA{
    font-family: Arial, Helvetica, sans-serif;
    background: #337ab7;
    color: #fff;
    text-align: left;
    
    box-sizing: border-box;
    width: 100%;
    border: solid #5B6DCD 1px;
    padding: 5px;
}



h4{
	text-align: left;
	margin-left: 10px;
}

.remitente{
	text-align: left;
}
input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}

input[type='submit']{
	background-color: #48e;
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
}
.mesa{
	background-color: #1e6;
}
.partes{
	font-family: "Segoe UI";
	font-weight: lighter;

}
.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff
}
.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}
.error{
	border:solid 2px rgb(199, 6, 6);
}